$color-silver: #cccccc;
$color-mercury: #e3e3e3;
$color-gallery: #f0f0f0;
$color-totem-pole: #990505;
$color-mine-shaft: #212121;

.storyjs {
  &__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  &__inner {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 220px;
  }
  &__scroller {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 250px;
    -webkit-overflow-scrolling: touch;
  }
  &__item {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border: 1px solid rgba($color-silver, 0.5);
    box-shadow: 0px 0px 4px 0px rgba($color-silver, 0.5);
    border-radius: 200px;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    &[data-opened="false"] {
      border-color: $color-totem-pole;
      box-shadow: 0px 0px 0px 2px rgba($color-totem-pole, 0.7);
    }
  }
  &__user-photo {
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    margin: 1px;
  }
  &__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    @media screen and (min-width: 768px) {
      padding-top: 0;
    }
    &__opened & {
      opacity: 1;
      visibility: visible;
    }
  }
  &__modal-band {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-mine-shaft, 0.4);
    z-index: 1;
  }
  &__modal-content {
    position: relative;
    width: 100%;
    max-width: calc(100% - 32px);
    height: 100%;
    max-height: calc(100% - 8px);
    z-index: 2;
    @media screen and (min-width: 768px) {
      max-width: 500px;
      height: 480px;
    }
  }
  &__modal-closer {
    position: absolute;
    right: 0;
    top: -40px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 32px;
      background-color: $color-mercury;
      border-radius: 10px;
      top: 0;
    }
    &:before {
      left: 16px;
      transform: rotate(-45deg);
    }
    &:after {
      right: 16px;
      transform: rotate(45deg);
    }
  }
  &__modal-line {
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $color-silver;
    display: block;
    margin-bottom: 8px;
    position: relative;
  }
  &__modal-line__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: $color-gallery;
    display: block;
    /* transition: all 10s ease-in-out; */
  }
  &__modal-arrow {
    display: block;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 40px);
    width: 40px;
    height: 80px;
    background-color: rgba($color-mine-shaft, 0.25);
    z-index: 1;
    &:before,
    &:after {
      content: "";
      width: 2px;
      height: 20px;
      background-color: white;
      display: block;
      position: absolute;
      top: 22px;
    }
  }
  &__modal-arrow__prev {
    left: 0;
    &:before,
    &:after {
      left: 15px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
      top: 36px;
    }
  }
  &__modal-arrow__next {
    right: 0;
    &:before,
    &:after {
      right: 15px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
      top: 34px;
    }
  }
  &__modal-box {
    display: flex;
    width: 100%;
    height: calc(100% - 12px);
    border-radius: 8px;
    position: relative;
    backface-visibility: hidden;
  }
  &__modal-box__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__highlight-photo {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
