$color-silver: #CCCCCC;
$color-mercury: #E3E3E3;
$color-totem-pole: #990505;
$color-mine-shaft: #212121;

.storyjs {
  &__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  &__inner {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 220px;
  }
  &__scroller {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 250px;
    -webkit-overflow-scrolling: touch;
  }
  &__item {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border: 1px solid rgba($color-silver, 0.5);
    box-shadow: 0px 0px 4px 0px rgba($color-silver,.5);
    border-radius: 200px;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    &[data-opened="false"] {
      border-color: $color-totem-pole;
      box-shadow: 0px 0px 0px 2px rgba($color-totem-pole,.7);
    }
  }
  &__user-photo {
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    margin: 1px;
  }
  &__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    box-sizing: border-box;
    @media screen and (min-width: 768px) {
      padding-top: 0;
    }
  }

  &__modal__band {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-mine-shaft, 0.4);
    z-index: 1;
  }

  &__modal__content {
    position: relative;
    width: 100%;
    max-width: calc(100% - 32px);
    height: 100%;
    max-height: calc(100% - 8px);
    z-index: 2;
    @media screen and (min-width: 768px) {
      max-width: 500px;
      height: 480px;
    }
  }

  &__modal__closer {
    position: absolute;
    right: 0;
    top: -40px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 32px;
      background-color: $color-mercury;
      border-radius: 10px;
      top: 0;
    }
    &:before {
      left: 16px;
      transform: rotate(-45deg);
    }
    &:after {
      right: 16px;
      transform: rotate(45deg);
    }
  }

  &__modal__line {
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $color-mercury;
    display: block;
    margin-bottom: 8px;
  }

  &__modal__box {
    display: flex;
    width: 100%;
    height: calc(100% - 12px);
    border-radius: 8px;
    position: relative;
  }

  &__modal__box-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__highlight__photo {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
